---
# ================ list of hosts to test ================
# enable:     true/false activate/deactivate the test for this host
# id:         unique id; will be used for GET methods
# name:       display name for test
# protocol:   part of uri; could be http/https
# method:     part of uri; could be get/post/put/delete/etc.
# baseUrl:    part of uri; base url
# url:        part of uri; like the context
# ignoreSSL:  ignore self signed certificates
# schedule:   cycle time to repeat the test
# =======================================================
hosts:
  - enable: false
    id: 10
    name: Test timetracker
    protocol: https
    method: get
    baseUrl: nobio.myhome-server.de
    url: /timetracker/
    ignoreSSL: false
    timeout: 2000
    schedule: 60
    concurrent: 1
    headers: { "User-Agent": "servicemon 2.3.0" }
  - enable: true
    id: 11
    name: Test timetracker api healthcheck (ext)
    protocol: https
    method: get
    baseUrl: nobio.myhome-server.de
    url: /api/health
    ignoreSSL: false
    timeout: 0
    schedule: 1
    concurrent: 1
    headers: { "User-Agent": "servicemon 2.3.0", "api-key": "abc123" }
  - enable: false
    id: 12
    name: Test timetracker api healthcheck (int)
    protocol: https
    method: get
    baseUrl: qnap-nas:8443
    url: /timetracker/api/health
    ignoreSSL: true
    timeout: 2500
    schedule: 1
    concurrent: 1
    headers: { "User-Agent": "servicemon 2.3.0", "api-key": "abc123" }
  - enable: false
    id: 20
    name: Franz' Nextcloud
    protocol: https
    method: get
    baseUrl: nobio.myhome-server.de
    url: /nextcloud/
    ignoreSSL: false
    timeout: 1000
    schedule: 60
    concurrent: 1
    headers: { "User-Agent": "servicemon 2.3.0" }
  - enable: false
    id: 20
    name: "-- Experimental: localhost:30000/api/health --"
    protocol: http
    method: get
    baseUrl: localhost:30000
    url: /api/health
    ignoreSSL: false
    timeout: 1000
    schedule: 5
    concurrent: 0
    headers: { "User-Agent": "servicemon 2.3.0" }
  - enable: false
    id: 21
    name: "-- Experimental: localhost:30000/api/entries --"
    protocol: http
    method: get
    baseUrl: localhost:30000
    url: /api/entries
    ignoreSSL: false
    timeout: 1000
    schedule: 10
    concurrent: 0
    headers: { "User-Agent": "servicemon 2.3.0" }
